* {
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}

nav {
    background: rgb(250, 113, 50);
    background: linear-gradient(90deg, rgba(250, 113, 50, 1) 0%, rgba(255, 191, 55, 1) 100%);
    height: 9em;
}

.logo {
    height: 5em;
    margin-left: 9em;
    margin-right: 1em;
}

.logoFooter {
    height: 4em;
    margin: 0.5em 0.5em 1em 0.5em;
}

.divTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: "Aldrich", cursive;
    text-decoration: underline;
    font-size: 2em;
    font-weight: 600;
}

.subtitle {
    text-decoration: overline;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    font-size: 1.35em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.15em;
    font-weight: 400;
    margin-bottom: 1em;
}

.navbar-brand {
    color: rgb(27, 59, 116);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13em;
    background: rgb(250, 113, 50);
    background: linear-gradient(90deg, rgb(201, 74, 15) 0%, rgb(255, 147, 59) 100%);
}

.fab {
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.fa-instagram {
    color: #a510a5;
}

.fa-instagram:hover {
    color: #6d246d;
}

.fa-facebook {
    color: #133c96;
}

.fa-facebook:hover {
    color: #112249;
}

.fa-twitter {
    color: #0972c2;
}

.fa-twitter:hover {
    color: #0b4e81;
}

.card {
    padding-top: 10px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.card:hover {
    box-shadow: 3px 3px 0 #000;
    transform: translate(0, -2px);
}

.cassificatorBtn-btn:hover {
    box-shadow: 2px 2px 0 #000;
    transform: translate(0, -2px);
}

h5 {
    padding-top: 15px;
}

.btn {
    font-family: "Aldrich", cursive;
    font-weight: 600;
    padding: 5px 25px;
}

.btnPlus {
    font-family: "Aldrich", cursive;
    font-size: 1.5em;
    font-weight: 200;
    padding: 0px 10px 0px 10px;
}

.btnMinus {
    font-family: "Aldrich", cursive;
    font-size: 1.5em;
    font-weight: 200;
    padding: 0px 10px 0px 10px;
}

.btn:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(0, -2px);
}

.cart-btn {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
}

.cartBuyBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.cartBuyBtn:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(0, -2px);
}

.units {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 0.5em;
}

.unitsNumber {
    font-size: 1.4em;
    text-align: end;
}

.img-fluid:hover {
    opacity: 0.5;
    border: 0.4em;
    border-color: #df081d;
    border-style: ridge;
}

#offcanvasLabel {
    padding: 0.8em;
    font-family: "Aldrich", cursive;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: underline;
    color: rgb(27, 59, 116);
    background: rgb(250, 113, 50);
    background: linear-gradient(90deg, rgba(250, 113, 50, 1) 0%, rgb(255, 147, 59) 100%);
    border-radius: 50px;
}

.offcanvas-footer {
    width: 100%;
    height: 15em;
    font-size: 1em;
    font-family: "Aboreto", cursive;
    font-weight: 600;
    background: rgb(250, 113, 50);
    background: linear-gradient(90deg, rgba(250, 113, 50, 1) 0%, rgb(255, 147, 59) 100%);
    color: rgb(0, 0, 0);
}

.all-p-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}